<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="UserService" class="com.hc.UserserviceImpl"/>
    <bean id="log" class="com.hc.Log"/>
    <bean id="AfertLog" class="com.hc.AfterLog"/>
    <!--方式一：使用原生Spring Api接口-->
    <aop:config>
        <!--  切入点：expression:表达式。execution(*)     -->
        <aop:pointcut id="pointcut" expression="execution(* com.hc.UserserviceImpl.*(..))"/>

        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="AfertLog" pointcut-ref="pointcut"/>

    </aop:config>


    <!--方式二：自定义AOP-->
    <bean id="div" class="com.hc.Div.DivMethod"/>
    <aop:config >
       <aop:aspect ref="div">
            <!--           切入点-->
           <aop:pointcut id="pointcut1" expression="execution(* com.hc.UserserviceImpl.*(..))"/>
            <!--           通知-->
           <aop:before method="before" pointcut-ref="pointcut1"/>
           <aop:after method="after" pointcut-ref="pointcut1"/>
       </aop:aspect>
    </aop:config>

</beans>